<!doctype html>
{% load static %}
{% load md5url %}
<html>
  <head>
    <meta charset='utf-8' />
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
     {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %} {% endblock %}
  </head>

  <body>
    {% block body %}
    <header>
      <nav class="navbar navbar-expand-md navbar01 navbar-dark fixed-top bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'img_trans:top' %}">Home</a>
        </div>
        <div class="container-fluid">
          {% if user.is_authenticated %}
          {% comment %} <a class="navbar-brand" href="{% url 'account_email' %}">Change E-mail</a> {% endcomment %}
          <a class="navbar-brand" href="{% url 'account_logout' %}">Sign Out</a>
          <a class="navbar-brand" href="{% url 'account_change_password' %}">Change_password</a>
          <a class="navbar-brand" href="{% url 'img_trans:mypage' %}">Mypage</a>
          <a class="navbar-brand" > ようこそ {{ user.username }}</a>       


          {% else %}
          <a class="navbar-brand" href="{% url 'account_signup' %}">Sign Up</a>
          <a class="navbar-brand" href="{% url 'account_login' %}">Sign In</a>

          
          {% comment %} <a class="navbar-brand" href="{% url 'account_logout' %}">Sign Out</a> {% endcomment %}
          <a >{{ user.username }}</a>
          
          {% endif %}
        </div>       



      </nav>
    </header>

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% comment %} <div>
      <strong>Menu32:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div> {% endcomment %}
    {% block content %}    {% endblock %}
    {% endblock %}
    {% block extra_body %}    {% endblock %}

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    
  </body>

</html>
